body{
    background: color #eaf6ea;
}

h1{
   color:red; 
}
p{
    color:blueviolet;
    text-align:left;
}

h2 {
    color:aqua;
    text-align: center;
    text-decoration: wavy;
}
h3{
    color:aquamarine;
    text-align:center;
}

.class.brocolli{
    background-color: red;
    width:80px;
    height:60px;
}
.img.beacon{
    background-color: green;
    width:80px;
    height:60px;
}
.circular{
    border-radius: 100%;
}
img:hover{
    background-color: gold;
}
 hr  {
        border-style:none;
        border-top-style:dotted;
        border-color:grey;
        border-width:3px;
        width:5%;
    }
.top-container{
background-color: aquamarine;
width: 80px;
height:70px;
}
.middle-container{
background-color: blue;
width: 80px;
height:70px;
margin-left:80px ;
}
.bottom-container{
background-color: red;
width: 80px;
height:70px;
margin-left:160px ;
}